<div class="section" data-controller="test">
  <div class="container">
    <div class="columns">
      <div class="column">
        {{> _testForm }}
      </div>
      <div class="column">
        {{> _testNotification }}        
      </div>
    </div>
  </div>
</div>

