<div class="notification is-{{ modifier }} is-hidden" data-target="test.notification">
  <button class="delete" data-action="click->test#cancel"></button>
  <h3 class="subtitle" data-target="test.output"></h3>
  <p>{{ message }}</p>
</div>
